body{
}
.header, .logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  justify: space-between;
}

.header, nav ul li{
  display: inline-block;
  font-family: Verdana;
  font-weight: 700;
  padding-right: 40px;
  margin-right: 40px;
  color: black;
}
header, h3{
  color: MediumAquamarine;
  padding-left: 10px;
}
.header, nav ul li a{
  color: black;
}
.header{
display: flex;
position: fixed;
z-index: 1;
width: 100%;
height: 80px;
border-bottom: 1px solid black;
background-color: white;
font family: Verdana;
font-size: 14px;
font-weight: bold;
justify-content: space-between;
}
.content{
  display: flex;
  padding-top: 80px;
  border: 1px solid black;
  width: 1232px;
}
 .content .column.large{
   dislplay: flex;
   border: 1px solid black;
   width: 630px;
   height: 600px;
 }
.lead-story .img-content {
  display: flex;
background-image:  url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  color: white;

.lead-story .img-content span  {
    margin-left: 20px;
    color: blue;
}
.img-content p{
display: block;
color: blue;
}


.content .column.medium{
  display: flex;
width: 300px;
border: 1px solid black;
height: 600px;



}
.content .column.small{
  display: flex;
width: 240px;
height: 600px;
border: 1px solid black;



}
